<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h2><h1>Все заведения</h1></h2>
  </div>
</div>
<% @restaurants.each do |restaurant| %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h2><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= image_tag restaurant.image.url(:medium) %>
  </div>
</div>
<% end %>